<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <ul class="navbar">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Relatorios" asp-action="Relatorio1">Relatorio-1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Relatorios" asp-action="Relatorio2">Relatorio-2</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - School-Web
        </div>
    </footer>
</body>
</html>
